<!DOCTYPE html>
<html lang="en">
<head>
  <title>Angular Magento Integration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" ng-controller="search_controller as ctrl" ng-init="init_search()"> 
  <form class="form-inline">
    <div class="form-group">
    <form> 
      Product Search:<input type="text" onkeyup="showHint(this.value)">
    </form>
    <p><a id="productLink" href=""><span id="txtHint"></span></a></p>
     <!-- <md-autocomplete flex required
            md-input-name="autocompleteField"
            md-input-minlength="2"
            md-input-maxlength="18"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text="ctrl.searchText"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-require-match
            md-floating-label="Favorite state">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
          </md-item-template>
          <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
            <div ng-message="required">You <b>must</b> have a favorite state.</div>
            <div ng-message="md-require-match">Please select an existing state.</div>
            <div ng-message="minlength">Your entry is not long enough.</div>
            <div ng-message="maxlength">Your entry is too long.</div>
          </div>
        </md-autocomplete> -->

      </div>
   <!-- <button type="submit" class="btn btn-default" ng-click="press_search()">Submit</button><br><br> -->
  </form>
</div>
<script>
function showHint(str) {
    if (str.length == 0) { 
        document.getElementById("txtHint").innerHTML = "";
        return;
    } else {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var str = this.responseText;
                var res = str.substring(str.indexOf("(")+1,str.indexOf(")"));
                document.getElementById("txtHint").innerHTML = this.responseText;
                var link = "/#product/"+res;
                document.getElementById("productLink").href="http://major.gktwlab.com"+link;
            }
        };
        xmlhttp.open("GET", "productList.php?q=" + str, true);
        xmlhttp.send();
    }
}
</script>
</body>
</html>